
<nav>
    <NavLink href="/"         ActiveClass="active" class="home" Match="NavLinkMatch.All">HyperCards.io</NavLink>
    <NavLink href="calendar/" ActiveClass="active">Calendar</NavLink>
    <NavLink href="notes/"    ActiveClass="active">Notes</NavLink>
</nav>
