nav {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ::deep a {
    display: inline-block;
    margin: 5px;
    padding: 8px 20px;
    font-size: 1.1em;
    background-color: #fbf3ed;
    border-radius: 20px;
    text-decoration: none;
    color: #333;
    user-select: none;
}
nav ::deep .active {
    background-color: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
}
