
<nav>
    <NavLink href="/"         ActiveClass="active" class="home" Match="NavLinkMatch.All">HyperCards.io</NavLink>
    <NavLink href="calendar/" ActiveClass="active">Calendar</NavLink>
    <NavLink href="notes/"    ActiveClass="active">Notes</NavLink>
    <NavLink href="todo/"     ActiveClass="active">ToDo</NavLink>
    <NavLink href="/#about"   ActiveClass="active">About</NavLink>
</nav>
