@page "/calendar/"

<PageTitle>Calendar</PageTitle>

<div class="calendar-container centered-content">
    @for (int i = 0; i < 6; i++)
    {
        <CalendarComponent Month="@DateTime.Now.AddMonths(i)" />
    }
</div>
