@page "/"

<PageTitle>HyperCards.io</PageTitle>

<h1>HyperCards.io</h1>

<card>
    Welcome to the personal coding playground of <a href="https://www.linkedin.com/in/mdtanner/" target="_blank">Michael Tanner</a>.
    <br />
    <br />
    This site is built with Microsoft Blazor, a framework for creating interactive web applications using C# and HTML, running directly in the browser via WebAssembly.
    <br />
    <br />
    HyperCards.io is statically hosted on GitHub Pages.
    <br />
    <br />
    Source code: 
    <br />
    <a href="https://github.com/michael-tanner/hyper-cards" target="_blank">https://github.com/michael-tanner/hyper-cards</a>
    <br />
    <br />
    Static website files:
    <br />
    <a href="https://github.com/michael-tanner/hyper-cards/tree/GitHubPages/docs" target="_blank">https://github.com/michael-tanner/hyper-cards/tree/GitHubPages/docs</a>
    <br />
    <br />
    All interactive features on this site use your browser's local storage to save data.
    <br />
    <br />
    No data is sent to a server. Your information stays entirely on your device.
</card>