@page "/"

<PageTitle>HyperCards.io</PageTitle>

<h1>HyperCards.io</h1>

<card>
    Hello, this is the personal coding playground of <a href="https://www.linkedin.com/in/mdtanner/" target="_blank">Michael Tanner</a>.
    <br />
    <br />
    This site is built with Microsoft Blazor, a framework for building interactive web apps using C# and HTML for running in the browser via Webassembly.
    <br />
    <br />
    HyperCards.io is statically hosted using GitHub Pages. 
    <br />
    See the source code here:
    <br />
    <ul>
        <li><a href="https://github.com/michael-tanner/hyper-cards" target="_blank">https://github.com/michael-tanner/hyper-cards</a></li>
        <li><a href="https://github.com/michael-tanner/hyper-cards/tree/GitHubPages/docs" target="_blank">https://github.com/michael-tanner/hyper-cards/tree/GitHubPages/docs</a></li>
    </ul>
    All interactive portions of this site use your browser's local storage to save your data.
    <br />
    <br />  
    None of your data is sent to a server.
</card>