html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #fbf3ed;
}

h1 {
    margin: 30px; padding: 15px 20px; background-color: #fff; border-radius: 26px; 
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
    font-weight: 400;
    text-align: center;
}




.shadow1 {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
}


nav {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    display: inline-block;
    margin: 5px;
    padding: 8px 20px;
    font-size: 1.1em;
    background-color: #fbf3ed;
    border-radius: 20px;
    text-decoration: none;
    color: #333;
    user-select: none;
}
.active {
    background-color: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
}
