.calendar-box {
    padding: 1rem;
    width: 100%;
    max-width: 700px;
    margin-bottom: 10px;
    background: #f9f0f3;
    border-radius: 20px;
    border: 1px solid #7958be;
    border-width: 1px 3px 6px 1px;
}
::deep .month-header {
    text-align: center;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    padding: 2px 4px;
    font-weight: 500;
    font-size: 24px;
    color: #2525b2;
}
::deep .month-header .month {
    float: left;
}
::deep .month-header .year {
    float: right;
}
::deep .today {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5f5fff;
    color: #fff;
    font-weight: bold;
}
::deep table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
::deep thead { display: none; }
::deep td {
    text-align: center;
    padding: 30px 4px;
    position: relative;
    background: #fff;
    font-size: 18px;
    font-weight: 500;
}
::deep thead th:nth-child(1),
::deep tbody td:nth-child(1),
::deep thead th:nth-child(7),
::deep tbody td:nth-child(7) {
    color: #5f5fff57;
}
::deep tbody .Top, .Right, .Bottom, .Left { border: 0px solid #d9c8ff; }
::deep tbody .Top    { border-top-width:    2px; }
::deep tbody .Right  { border-right-width:  4px; }
::deep tbody .Bottom { border-bottom-width: 4px; }
::deep tbody .Left   { border-left-width:   2px; }

::deep .empty {
    visibility: hidden;
}

@media (max-width: 600px) {
    .calendar-box {
        max-width: 100%;
        border-radius: 0;
    }
    ::deep td {
        padding: 20px 4px;
    }
    ::deep .today {
        width: 55%;
    }
}