/* /Components/CalendarComponent.razor.rz.scp.css */
.calendar-box[b-q4hj82irlc] {
    padding: 1rem;
    width: 100%;
    max-width: 700px;
    margin-bottom: 10px;
    background: #f9f0f3;
    border-radius: 20px;
    border: 1px solid #c5bbdaa8;
    border-width: 1px 3px 6px 1px;
    border-style: double;
}
[b-q4hj82irlc] .month-header {
    text-align: center;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    padding: 2px 4px;
    font-weight: 500;
    font-size: 24px;
    color: #2525b2;
}
[b-q4hj82irlc] .month-header .month {
    float: left;
}
[b-q4hj82irlc] .month-header .year {
    float: right;
}
[b-q4hj82irlc] .today {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5f5fff;
    color: #fff;
    font-weight: bold;
}
[b-q4hj82irlc] table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
[b-q4hj82irlc] thead { display: none; }
[b-q4hj82irlc] td {
    text-align: center;
    padding: 30px 4px;
    position: relative;
    background: #fff;
    font-size: 18px;
    font-weight: 500;
}
[b-q4hj82irlc] thead th:nth-child(1),
[b-q4hj82irlc] tbody td:nth-child(1),
[b-q4hj82irlc] thead th:nth-child(7),
[b-q4hj82irlc] tbody td:nth-child(7) {
    color: #5f5fff57;
}
[b-q4hj82irlc] tbody .Top { border-top: 2px solid #7958be; }
[b-q4hj82irlc] tbody .Right { border-right: 3px solid #7958be; }
[b-q4hj82irlc] tbody .Bottom { border-bottom: 3px solid #7958be; }
[b-q4hj82irlc] tbody .Left { border-left: 2px solid #7958be; }

[b-q4hj82irlc] .empty {
    visibility: hidden;
}

@media (max-width: 600px) {
    .calendar-box[b-q4hj82irlc] {
        max-width: 100%;
        border-radius: 0;
    }
    [b-q4hj82irlc] td {
        padding: 20px 4px;
    }
    [b-q4hj82irlc] .today {
        width: 55%;
    }
}
/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-v8q5m4zhkd] {
    font-size: 16px;
}

main[b-v8q5m4zhkd] {
    padding: 0 15px;
}
/* /Layout/NavMenu.razor.rz.scp.css */
nav[b-d13n4iuesv] {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    background-color: #ffede3;
    border-bottom: 2px solid #fee5d6;
}
nav[b-d13n4iuesv]  .home {
    color: #000;
    font-size: 21px;
    font-weight: 400;
}
nav[b-d13n4iuesv]  a {
    display: inline-block;
    margin: 0 10px; /* Adjusted margin */
    padding: 8px 20px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 20px;
    text-decoration: none;
    color: #4545de;
    letter-spacing: .5px;
    user-select: none;
}
nav[b-d13n4iuesv]  .active {
    background-color: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
}

/* Media query for mobile devices */
@media (max-width: 700px) {
    nav[b-d13n4iuesv] {
        flex-direction: column;
        align-items: center; /* Adjusted alignment */
    }
    nav[b-d13n4iuesv]  a {
        min-width: 220px;
        text-align: center;
        margin: 5px 0;
    }
}
/* /Pages/Calendar.razor.rz.scp.css */
.calendar-container[b-iuqi6nicjn] {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 100%;
    margin: 2rem auto;
    align-items: center;
}
