/* /Components/CalendarComponent.razor.rz.scp.css */
.calendar-box[b-q4hj82irlc] {
    padding: 1rem;
    width: 100%;
    max-width: 600px;
    box-shadow: 1px 2px 10px #00000011;
    border-radius: 27px;
    background-color: #fff;
    margin-bottom: 10px;
    border: 2px dashed #ff9854;
}
[b-q4hj82irlc] .month-header {
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
[b-q4hj82irlc] .weekdays, .days[b-q4hj82irlc] {
    display: flex;
    justify-content: space-between;
}
[b-q4hj82irlc] .weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    color: #b6c5e8;
}
[b-q4hj82irlc] .weekdays div {
    height: 3em;
    justify-content: center;
    align-items: center;
    display: flex;
}
[b-q4hj82irlc] .weekdays div, [b-q4hj82irlc] .day {
    text-align: center;
}
[b-q4hj82irlc] .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;
}
[b-q4hj82irlc] .day {
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.2rem;
    border-radius: 4px;
}
[b-q4hj82irlc] .day.today {
    background-color: #5f5fff;
    color: #fff;
    border-radius: 20px;
    font-weight: bold;
}
[b-q4hj82irlc] .day.empty {
    visibility: hidden;
}
@media (max-width: 600px) {
    .calendar-box[b-q4hj82irlc] {
        max-width: 100%;
    }
    [b-q4hj82irlc] .day {
        width: 2rem;
        height: 2rem;
    }
}
/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-v8q5m4zhkd] {
    font-size: 16px;
    font-family: monospace;
}

main[b-v8q5m4zhkd] {
    padding: 0 15px;
}
/* /Layout/NavMenu.razor.rz.scp.css */
nav[b-d13n4iuesv] {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    background-color: #feeee5;
}
nav[b-d13n4iuesv]  .home {
    color: #000;
    font-size: 19px;
}
nav[b-d13n4iuesv]  a {
    display: inline-block;
    margin: 0 10px; /* Adjusted margin */
    padding: 8px 20px;
    font-size: 16px;
    border-radius: 20px;
    text-decoration: none;
    color: #6b6bff;
    font-family: monospace;
    letter-spacing: .5px;
    user-select: none;
}
nav[b-d13n4iuesv]  .active {
    background-color: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
}

/* Media query for mobile devices */
@media (max-width: 700px) {
    nav[b-d13n4iuesv] {
        flex-direction: column;
        align-items: center; /* Adjusted alignment */
    }
    nav[b-d13n4iuesv]  a {
        width: 100%;
        text-align: center;
        margin: 5px 0;
    }
}
/* /Pages/Calendar.razor.rz.scp.css */
.calendar-container[b-iuqi6nicjn] {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 100%;
    margin: 2rem auto;
    align-items: center;
    padding: 10px;
}
